@font-face {
	font-family: PoppinsRegular;
	src: url(fonts/Poppins-Regular.ttf);
}

@font-face {
	font-family: PTSerifRegular;
	src: url(fonts/PT_Serif-Web-Regular.ttf);
}

html, body,{
	height: 100%;
}


.box{
	height: 90%;
}

body{
	font-family: PoppinsRegular;
}

header .navbar-nav>li>a{
	font-size: 18px;
}

.navbar-inverse .navbar-nav>li>a{
	color:#fff;
}

.navbar-inverse .navbar-nav>li>a:hover{
	color:#e67d20;
}

header .navbar-nav>li>a {
	padding-top: 30px;
	padding-bottom: 30px;
}

.navbar-header button{
	margin-top: 30px;
	margin-bottom: 30px;
}

.navbar-inverse{
	background-color: #4f5457;
}


/*carousel*/
.carousel-inner>.item>a>img, .carousel-inner>.item>img, .img-responsive, .thumbnail a>img, .thumbnail>img{
	max-width: 100%;
}

.carousel{
	margin-top: 75px;
}


.box{
	margin-top: 70px;
	width: 100%;
	height: 90%;
	background-color: #000;
}

.carousel,.item, .carousel .active{
	width:100%;
}

.carousel,.item, .carousel .active{
	height: 100%;
}


.carousel-inner{
	height:100%;
}

.fill{
	width:100%;
	height:100%;
	background-position:center;
	background-size:cover;
}

.carousel-indicators .active {
    width: 12px;
    height: 12px;
    margin: 0;
    background-color: #fff;
}

.carousel-info-container, .p-relative{
	position: relative;
}

.carousel-info{
	color: #fff;
	position: absolute;
	top:100px;
	left: 5%;
}

.carousel-info h2{
	font-size: 2.80em;  /* 39/14*/
}

.carousel-info h3{
	font-size: 2.35em; /* 33/14*/
}

.carousel-info a{
	font-size: 1.45em; /*21/14*/
	color: #fff;
	text-decoration: none;
}

.carousel-info a:hover{
	color:#e67d20;
}

.carousel-inner>.item>img {
	height: 100%;
	width: 100%;
}

/*secondary-nav-bar*/
.secondary-navbar .navbar-nav>li>a{
	margin-top: 9px;
	margin-bottom: 9px;
}

.secondary-navbar input{
	margin-top: 3px;
	padding: 30px;
	font-size: 1.2em;
	margin-left: 5%;
}

.secondary-navbar .navbar-form .form-control{
	width: 90%;
}

.secondary-navbar .navbar-nav>li>a{
	margin:0;
	padding:30px 0;
	background-color: #3598dc;
	font-size: 1.43em; 
	color: #fff;
}

.secondary-navbar .navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover{
	background-color: #3598dc;
}

.secondary-navbar .navbar-nav>li>a:hover{
	background-color: #3598dc;
}

.secondary-navbar .navbar-collapse, .secondary-navbar .container-fluid{
	padding-left: 0;
	padding-right: 0;
}

.secondary-navbar .dropdown-menu>li>a{
	padding: 12px 110px 12px 110px;
	font-size: 1.43em;
	color:#fff;
	background-color: #3598dc;
}

.secondary-navbar .dropdown-menu>li>a:hover{
	color: #333;
}

.secondary-navbar .nav>li>a>img{
	margin-right: 20px;
}

.no-padding{
	padding: 0;
}

.secondary-navbar ul.dropdown-menu{
	padding: 0;
	border: none;
}

.width100{
	width: 100%;
}


.main-search .btn-absolute, .user-list .btn-absolute, .gen-list .btn-absolute, .promoter-events-search button{
	position: absolute;
	right: 5%;
	top: 3px;
	padding: 11px 10px 6px 11px;
	background-color: #fd1c3e;
	color:#fff;
	border: none;
	border-radius: 0 4px 4px 0;
}

.main-search .glyphicon{
	font-size: 2.8em;
}

.upcoming-events h2, .today-events h2{
	color: #444;
	font-size: 2.4em;
	margin-left: 2%;
	margin-bottom: 25px;
}

.upcoming-events img{
	max-width: 100%;
	height: 15em;
}

.upcoming-events-item{
	background-color: #000;
}

.upcoming-events .buy-button, .client-profile .event-details-btn{
	width: 100%;
	font-size: 2.2em;
	color: #fff;
	padding-top: 7px;
	padding-bottom: 7px;
	border: none;
}

.upcoming-events .buy-button:hover{
	color: #000;
}


.buy-button.first{
	background-color: #e77e23;
}

.buy-button.second{
	background-color: #3598dc;
}

.buy-button.last{
	background-color: #fb1b3f;
	margin-bottom: 40px;
}

.upcoming-event-info{
	color: #fff;
	position: absolute;
	top: 10px;
	left: 30px;
}

.today-events p, .today-events a{
	font-size: 20px;
	color: #444;
	text-decoration: none;
}

.today-events a:hover{
	color: #e77e23;
}

.today-events-container{
	margin-bottom: 90px;
}

.display-inline{
	display: inline-block;
}

.social-media-items{
	max-width: 165px;
	display: block;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 40px;
}

.footer{
	background-color: #4f5457;
	color: #fff;
}

.footer img{
	margin: 30px auto;
}

.footer p{
	font-family: PTSerifRegular;
	font-size: 18px;
	margin-bottom: 30px;
}

.login-modal .modal-content{
	background-color: #eee;
}

.login-modal input{
	border: none;
	padding-right: 25px;
}

.login-modal h4{
	font-size: 20px;
}

.login-modal .modal-footer p{
	margin-top: 20px;
	font-size: 16px;
}

.login-modal .modal-footer a{
	text-decoration: none;
	color: #444;
}

.login-modal .modal-footer a:hover{
	color: #e77e23;
}


/*forms*/
.signUpView, .registrationView{
	background-color: #cdcdcd;
	padding-top: 80px;
}

.signUpView .form-group, .registrationView .form-group{
 	margin-top: 30px;
}

.signUpView select, .registrationView select{
display: block;
}

.signUpView input[type="submit"], .registrationView input[type="submit"]{
	background-color: #3598dc;
	color: white;
	margin-bottom: 50px;
}


/*********user list******/
.user-list-container, .gen-list-container, .redeem-tickets-container{
	background-color: #ebebeb;
	margin-top: 70px;
}

.user-list h1, .gen-list h1, .redeem-tickets h1{
	margin-top: 1.5em;
	margin-bottom: 25px;
}

.width80{
	display: block;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}

.width90{
	width: 90%;
	margin-left: auto;
	margin-right: auto;
}

.user-list .btn-absolute, .gen-list .btn-absolute, .promoter-events-search button{
	right: 10%;
	top: 0;
	padding: 8px 10px 5px 11px;
}

.user-list ul, .gen-list ul, .client-reserv ul, .promoter-event-item ul{
	margin-top: 12px;
	margin-bottom: 25px;
	list-style: none;
	border: 1px solid #6d6d6d;
	padding: 0;
	height: 20em;
	overflow-y: scroll;
}

.user-list li, .gen-list li, .client-reserv li, .promoter-event-item li{
	border-bottom: 2px solid #a7a7a7;
	border-right: 3px;
	font-size: 1.1em;
	padding: 7px 15px;
	max-height: 20em;
}

.user-list a, .gen-list a, .client-reserv a, .promoter-event-item a{
	text-decoration: none;
	color: #000;
	display: block;
}

.user-list a:hover, .gen-list a:hover, .client-profile a:hover{
	color: #e67d20;
}

.user-info-container, .promoter-event-container{
	border: 2px solid #3598dc;
	background-color: #fff;
	height: 20em;
	overflow-y: scroll;
	margin-top: 12px;
	margin-bottom: 25px;
	padding: 7px 15px;
}

.user-info-container h3{
	margin-top: 10px;
}

.user-info-container button, .promoter-event-item li button{
	background-color: #e67d20;
	border: none;
	border-radius: 0;
}

.user-info-container button:hover, .promoter-event-item li button:hover{
	background-color: #f0ad4e;
}

.user-item-info{
	margin-bottom: 20px;
}

/*redeem tickets*/

.redeem-tickets label, .redeem-tickets p{
	font-size: 1.2em;
}

.redeem-tickets input, .redeem-tickets button, .promoter-event-container .btn-danger{
	border: none;
	border-radius: 0;
}

.redeem-tickets input[type="text"]{
	padding:10px;
	font-size: 1.1em;
}

.redeem-tickets .btn-primary, .redeem-tickets .btn-danger, .promoter-event-container .btn-danger{
	padding: 10px;
	margin-top: 28px;
	font-size: 1.1em;
}

.redeem-tickets .btn-primary{
	background-color: #3598dc;
}

.redeem-tickets .btn-primary:hover{
	background-color: #286090;
}

.redeem-tickets .btn-danger, .client-profile .user-info-container button,  .promoter-event-container .btn-danger{
	background-color: #fb1b3f;
}

.redeem-tickets .btn-danger:hover, .client-profile .user-info-container button:hover, .promoter-event-container .btn-danger:hover{
	background-color: #c9302c;
}

.redeem-tickets .info-container{
	padding-left: 5%;
	margin: 25px 0 70px;
}

label{
	font-weight: normal;
	display: block;
}

/*client-profile*/

.client-profile-container, .promoter-profile-container{
	margin-top: 80px;
	background-color: #ebebeb;
}

.client-profile .profile-img{
	margin: 30px auto 60px;
	display: block;
}

.client-profile .left-panel a, .promoter-profile .left-panel a{
	display: block;
	text-decoration: none;
	color:#000;
	font-size: 1.3em;
}

.client-profile .left-panel a:hover, .promoter-profile .left-panel a:hover{
	color:#e77e23;
}


.client-profile .upcoming-events-item{
	margin-bottom: 30px;
}

.client-profile h2{
	margin-top: 2.8em;
	margin-bottom: 30px;
}

.client-profile .event-details-btn{
	background-color: #e77e23;
	margin-bottom: 25px;
}

.client-profile .event-details-btn:hover{
	color: #000;
}

.client-profile .upcoming-events-item img{
	max-width: 100%;
	height: 15em;
}

/*promoter-profile*/
.promoter-profile .left-panel{
	margin-top: 100px;
}

.promoter-profile h2{
	margin-top: 1.2em;
	margin-bottom: 25px;
}

.promoter-events h4{
	margin-left: 18px;
}

.promoter-event-item ul{
	height: 28em;
}

.promoter-event-item li{
	height: 9em;
	padding: 0;
	overflow: hidden;
	position: relative;
}

.promoter-event-item li img{
	height: 100%;
	width: 100%;
}

.promoter-event-item li button{
	position: absolute;
	bottom: 0;
	width: 100%;
	border-radius: 0;
}

.promoter-event-item .pei-info{
	position: absolute;
	bottom: 4em;
	left: 5%;
	color:#fff;
}

.promoter-event-container{
	height: 28em;
	background-color: #3598dc;
	color:#fff;
	overflow: auto;
}

.promoter-event-container .user-item-info{
	font-size: 1.2em;
}

.promoter-event-container .user-item-info a, .promoter-event-container .btn-danger a{
	color:#fff;
	text-decoration: none;
}

.promoter-event-container .user-item-info a:hover{
	color:#fb1b3f;
}




.p1{
	background-color: gray;
	height: 250px;
}

.p2{
	background-color: red;
	height: 250px;
}

/*CSS Eventos Carmiol*/
.eventsSearch{
	margin-top: 13px;
}
.btn-events{
	background-color: #fd1c3e;
	color: #fff;
}

.eventBanner{
	padding:30px;
}
.eventPicture img{
	width: 100%
}
.eventDetalle{
	background-color: #fd1c3e;
	color: #fff;
	height: 370px;
}
.eventDetalleTexto{
	padding: 15px;
}
.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}
.eventSeccionCompra{
	padding: 50px;
}
.eventMembersPrice{
	background-color: #3598dc;
	color: #fff;
	width: 90%;
}
.eventMembersPriceText h4,p{
	padding: 14px;
}
.eventBtnComprar{
	width: 80%;
	height: 370px;
}
.eventBtnComprar div{
	margin-top: 150px;
	margin-left: 75px;
}

/* seat reservation */
.content {
  text-align: center;
}

.seatLayout {
  margin: 30px auto;
}

.seat {
  cursor: pointer;
}

.buttons {
  margin: 30px auto;
}

.legend img{
  vertical-align: bottom;
}



/*Final Eventos Carmiol*/


/*********************************************************************
**************************MEDIA QUERYS********************************
**********************************************************************/
@media (max-width: 1200px){
	
}


@media (max-width: 992px){
	.box{
		height: 75%;
	}

	.carousel-info{
		left: 15%;
	}

	.upcoming-events-item{
		background-color: #ebebeb;
	}

	.upcoming-events img, .upcoming-events .buy-button, .client-profile .upcoming-events-item img{
		width: 65%;
	}

	.upcoming-events-item{
		margin-bottom: 25px;
	}

	.upcoming-event-info{
		left: 208px;
		top:15px;
	}

	.client-profile .upcoming-event-info{
		left: 138px;
	}

	.upcoming-events h2{
		margin-bottom: 25px;
	}

	.redeem-tickets .info-container{
		padding-left: 12%;
	}

	.client-profile .event-details-btn{
		width: 65%;
	}

}


@media (max-width: 768px){
	.navbar-nav>li>a {
		padding-top: 10px;
		padding-bottom: 10px;
	}

	.carousel-info{
		top:60px;
		left: 15%;
	}

	.box{
		height: 60%;
	}

	.secondary-navbar .navbar-header button{
		margin-right: 30px;
	}

	.secondary-navbar .navbar-nav .open .dropdown-menu>li>a{
		padding: 10px;
		text-align: center;
	}

	.secondary-navbar input{
		margin-left: 7%;
	}

	.main-search .btn-absolute{
		right: 3%;
		top: 1px;
	}

	.upcoming-events img{
		height: 12em;
	}

	.upcoming-event-info{
		left: 29%;
		top:15px;
	}

	.signUpSecondColumn{
 		margin-top: 30px;
 	}

 	.client-profile h2{
 		margin-top: 0.8em;
 	}

 	.client-profile .upcoming-events-item img{
 		height: 13.5em;
 		width: 50%;
 	}

 	.client-profile .event-details-btn{
 		width: 50%;
 	}

 	.client-profile .upcoming-event-info{
		left: 29%;
	}

}

@media (max-width: 600px){
	.box{
		height: 50%;
	}

	.carousel-info h2{
	font-size: 1.9em; 
	}

	.carousel-info h3{
		font-size: 1.45em; 
	}

	.carousel-info a{
		font-size: 1em; 
	}

	.upcoming-events img{
		width: 67%;
		height: 13em;
	}

	.client-profile .upcoming-events-item img{
		height: 13em;
		width: 70%;
	}

	.upcoming-event-info{
		left: 22%;
	}

	.upcoming-events .buy-button{
		width: 67%;
	}

	.client-profile .event-details-btn{
		width: 70%;
	}
}


@media (max-width: 480px){
	.box{
		height: 35%;
	}

	.carousel-info{
		top:25px;
		left: 15%;
	}

	.carousel-info h2{
	font-size: 1.45em; 
	}

	.carousel-info h3{
		font-size: 1em; 
	}

	.carousel-info a{
		font-size: 1em; 
	}

	.secondary-navbar input{
		margin-left: 8%;
	}

	.main-search .btn-absolute{
		right: 2%;
	}

	.secondary-navbar input{
		font-size: 1em;
		padding-left: 13px;
	}

	.upcoming-events img{
		width: 90%;
		height: 13em;
	}

	.client-profile .upcoming-events-item img{
		width: 95%;
		height: 13em;
	}

	.upcoming-event-info{
		left: 14%;
	}

	.upcoming-events .buy-button{
		width: 90%;
	}

	.client-profile .event-details-btn{
		width: 95%;
		font-size: 1.5em;
	}

	.client-profile .upcoming-event-info{
		left: 14%;
	}
}








