<div class="containers signUpView" >
	<div class="row">
		<div class="col-md-4 col-md-offset-2">
			<h1 ng-show="hideCatTitle">Eventos</h1>
			<h1 ng-hide="hideCatTitle">Eventos por Categoría</h1>
		</div>
		<div class="col-md-5">
			<div class="input-group eventsSearch">
			      <input type="search" ng-model="search" class="form-control width100" placeholder="Buscar ...">
			      <span class="input-group-btn">
			        <button class="btn btn-absolute btn-events" type="button"><span class="glyphicon  glyphicon-search"></span></button>
			      </span>
			</div>
		</div>
	</div>
	<!-- end of search -->
</div>
<div class="container container-events">
	<div class="row">
		<div class="upcoming-events">
			<div class="row">
				<div class="col-sm-12">
					<h2></h2>
				</div>
			</div> <!-- row -->
				<div class="col-md-4 allEventsDisplay" ng-repeat="event in eventsList track by $index" ng-hide="search.length>0">
					<div class="upcoming-events-item">
						<div class="upcoming-event-info">
							<h5>{{event.name}}</h5>
							<p>{{event.date | date}}</p>
							<p>{{event.startHour}}</p>
						</div>
						<div class="event-item-img">
							<img ng-src="images/event-default-images/{{event.image}}" class="img-responsive center-block" alt="">
							<button class="buy-button first center-block" ><a ng-href="#/event-profile/{{event.id}}">Comprar</a></button>
						</div>
					</div><!-- upcoming-events-item -->
				</div>
		</div><!-- upcoming-events -->


		<div class="upcoming-events" ng-show="search.length>0">
			<div class="row">
				<div class="col-sm-12">
					<h2>Busqueda</h6>
				</div>
			</div> <!-- row -->
			<h4 ng-show="(eventsList | filter:search).length == 0">Ningún resultado encontrado</h4>
			<div class="col-md-4" ng-repeat="event in eventsList | orderBy: 'datetime' | limitTo: '9' | filter:search track by $index">
				<div class="upcoming-events-item searchRow">
					<div class="upcoming-event-info">
						<h5>{{event.name}}</h5>
						<p>{{event.date | date}}</p>
						<p>{{event.startHour}}</p>
					</div>
					<div class="event-item-img">
						<img ng-src="images/event-default-images/{{event.image}}" class="img-responsive center-block" alt="">
						<button class="buy-button first center-block" ><a ng-href="#/event-profile/{{event.id}}">Comprar</a></button>
					</div>
				</div><!-- upcoming-events-item -->
			</div>
		</div><!-- upcoming-events -->




	</div> <!-- row -->
</div><!-- Fin Eventos proximos -->










