<!-- Registro de Cajero -->

<div class="container-fluid signUpView">
	<div class="row">
		<div class="col-sm-6 col-sm-offset-1">
			<h2>Registro de Cajero</h2>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-12">
			<form name="formNewCashier" ng-submit="formNewCashier.$valid && cashierRegister()" novalidate autocomplete="off">

				<div class="col-sm-10 col-sm-offset-1">
					<div class="form-group">
						<div class="col-sm-4" ng-hide="editing || appLoggedUser.userType=='ut01'">
			                <label>Tipo de usuario:</label>
			                <div class="dropdown">
							  <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Cajero
							  <span class="caret"></span></button>
							  <ul class="dropdown-menu">
							    <li><a ng-href="#/user-signup">Cliente</a></li>
							    <li><a ng-href="#/promotor-signup">Promotor</a></li>
							  </ul>
							</div>
		                </div>
		            </div> <!-- form group end -->
		        </div>
	            <div class="col-sm-10 col-sm-offset-1">
	            	<div class="form-group">
		            	<div class="col-sm-6">
		            		<label for="firstname">Primer nombre*</label>
		            		<input type="text" class="form-control" name="firstname" id="firstname" placeholder="Primer nombre" ng-model="newCashier.firstname" required ng-model-options="{ updateOn:'blur'}">
		            		<sub ng-show="formNewCashier.firstname.$invalid && formNewCashier.firstname.$touched">Primer nombre requerido</sub>
		            	</div>
		               <div class="col-sm-6 signUpSecondColumn">
		               		<label for="secondname">Segundo nombre</label>
		            		<input type="text" class="form-control" id="secondname" placeholder="Segundo nombre" ng-model="newCashier.secondname">
		               </div>
		            </div> <!-- form group end -->
	            </div>
	            <div class="col-sm-10 col-sm-offset-1">
		            <div class="form-group">
		            	<div class="col-sm-6">
		            		<label for="firstlastname">Primer apellido*</label>
		            		<input type="text" class="form-control" name="firstlastname" id="firstlastname" placeholder="Primer apellido" ng-model="newCashier.firstlastname" required ng-model-options="{ updateOn:'blur'}">
		            		<sub ng-show="formNewCashier.firstlastname.$invalid && formNewCashier.firstlastname.$touched">Primer apellido requerido</sub>
		            	</div>
		               <div class="col-sm-6 signUpSecondColumn">
		               		<label for="secondlastname">Segundo apellido</label>
		            		<input type="text" class="form-control" id="secondlastname" placeholder="Segundo apellido" ng-model="newCashier.secondlastname">
		               </div>
		            </div> <!-- form group end -->
		        </div>
		        <div class="col-sm-10 col-sm-offset-1">
		            <div class="form-group">
		            	<div class="col-sm-6">
		            		<label for="personalId">Cédula de identidad*</label>
		            		<input type="text" class="form-control"  minlength="9" maxlength="40" name="personalId" id="personalId" placeholder="1 0111 0111" ng-model="newCashier.personalId" required ng-model-options="{ updateOn:'blur'}">
		            		<sub ng-show="formNewCashier.personalId.$error.required && formNewCashier.personalId.$touched">Numero de cedula requerido</sub>
		            		<sub ng-show="formNewCashier.personalId.$error.minlength && formNewCashier.personalId.$touched">Formato no válido</sub>
			            	<sub ng-show="formNewCashier.personalId.$error.maxlength && formNewCashier.personalId.$touched">Formato no válido</sub>validos</sub>
		            	</div>
		            </div> <!-- form group end -->
		        </div>
		        <div class="col-sm-10 col-sm-offset-1">
		            <div class="form-group">
		            	<div class="col-sm-6">
		            		<label for="email">Correo electrónico*</label>
		            		<input type="email" class="form-control" name="email" id="email" placeholder="juan@ejemplo.com" ng-model="newCashier.email" required ng-model-options="{ updateOn:'blur'}">
		            		<sub ng-show="formNewCashier.email.$error.required && formNewCashier.email.$touched">Correo electrónico requerido</sub>
		            		<sub ng-show="formNewCashier.email.$error.email && formNewCashier.email.$touched">Formato de correo electrónico no valido</sub>
		            	</div>
		            </div> <!-- form group end -->
		        </div>
		        </div>
		        <div class="col-sm-10 col-sm-offset-1">
		            <div class="form-group">
		            	<div class="col-sm-6">
		            		<label for="phone">Teléfono*</label>
		            		<input type="number" min="0" required class="form-control" name="phone" id="phone" placeholder="88888888" ng-model="newCashier.phone" ng-model-options="{ updateOn:'blur'}" ng-pattern="expNumberPhone">
		            		<sub ng-show="formNewCashier.phone.$error.required && formNewCashier.phone.$touched">El numero de telefono es requerido.</sub>
                			<sub ng-show="formNewCashier.phone.$error.pattern && formNewCashier.phone.$touched">El telefono no es valido, no se permiten numeros negativos ni decimales, y debe tener formato de 8 numeros.</sub>
		            	</div>
		            </div> <!-- form group end -->
		        </div>
		        <div class="col-sm-10 col-sm-offset-1">
		            <div class="form-group">
		            	<div class="col-sm-6">
		            		<label for="phone">Fecha de nacimiento*</label>
		            		<input type="date" class="form-control" name="date" id="date" max="{{minAge | date:'yyyy-MM-dd'}}" min="{{maxAge | date:'yyyy-MM-dd'}}" ng-model="newCashier.dateBirth" required>

		            		<sub ng-show="formNewCashier.date.$error.required && formNewCashier.date.$touched">Fecha de nacimiento es requerida</sub>
		            		<sub ng-show="formNewCashier.date.$error.max && formNewCashier.date.$touched">Debe ser mayor de 18 años</sub>
		            		<sub ng-show="formNewCashier.date.$error.min && formNewCashier.date.$touched">Debe ser menor de 100 años</sub>
		            	</div>
		            	<div class="col-sm-6 signUpSecondColumn">
		            		<label>Género</label>
		            		<select name="genre" id="genre" ng-model="newCashier.genre" required ng-model-options="{ updateOn:'blur'}">
		            			<option value="">-Género-</option>
		            			<option value="m">Masculino</option>
		            			<option value="f">Femenino</option>
		            		</select>
		            		<sub ng-show="formNewCashier.genre.$error.required && formNewCashier.genre.$touched">Elegir un tipo de genero</sub>
		            	</div>
		            </div> <!-- form group end -->
		        </div>
		        <div class="col-sm-10 col-sm-offset-1">
		            <h3 class="error text-center">{{error}}</h3>
		        </div>
		        <div class="col-sm-10 col-sm-offset-1">
		            <div class="form-group">
		                <div class="col-sm-offset-4 col-sm-4 col-xs-12">

		                    <input type="submit" class="btn btn-s btn-lg" value="Registrar cajero" ng-disabled="formNewCashier.$invalid" ng-click= "cashierRegister()">

		                </div>
		            </div> <!-- form group end -->
		        </div>
		        
			</form>
		</div>
	</div>
</div>




<!-- alert Modal -->
<div id="cashierRegSuccessModal" class="modal fade alert-modal" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        
      </div>
      <div class="modal-body">
        <p class="text-center">{{success}}</p>
        <p>Contraseña de la nueva cuenta:</p>
        <h3>{{showPass}}</h3>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger btn-clear" data-dismiss="modal" ng-click="goHome()">Close</button>
      </div>
    </div>

  </div>
</div>