<!-- Registro de Cliente -->
<div class="container-fluid signUpView">
	<div class="row">
		<div class="col-sm-6 col-sm-offset-1">
			<h2>Registro de Usuario</h2>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-12">
			<form name="formNewClient" ng-submit="formNewClient.$valid && clientRegister()" novalidate>
				<div class="col-sm-10 col-sm-offset-1" ng-hide="editing">
					<div class="form-group">
						<div class="col-sm-4" >
			                <label>Tipo de usuario:</label>
							<div class="dropdown">
							  <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Cliente
							  <span class="caret"></span></button>
							  <ul class="dropdown-menu">
							    <li><a ng-href="#/promotor-signup-request">Promotor</a></li>
							    <li ng-show="appLoggedUser.userType==1"><a ng-href="#/cashier-signup">Cajero</a></li>
							  </ul>
							</div>
		                </div>
		            </div> <!-- form group end -->
		        </div>
	            <div class="col-sm-10 col-sm-offset-1">
	            	<div class="form-group">
		            	<div class="col-sm-6">
		            		<label for="firstname">Primer nombre*</label>
		            		<input type="text" class="form-control" name="firstname" id="firstname" placeholder="Primer nombre" ng-model="newClient.firstname" required ng-model-options="{ updateOn:'blur'}">
		            		<sub ng-show="formNewClient.firstname.$invalid && formNewClient.firstname.$touched">Primer nombre requerido</sub>
		            	</div>
		               <div class="col-sm-6 signUpSecondColumn">
		               		<label for="secondname">Segundo nombre</label>
		            		<input type="text" class="form-control" id="secondname" placeholder="Segundo nombre" ng-model="newClient.secondname">
		               </div>
		            </div> <!-- form group end -->
	            </div>
	            <div class="col-sm-10 col-sm-offset-1">
		            <div class="form-group">
		            	<div class="col-sm-6">
		            		<label for="firstlastname">Primer apellido*</label>
		            		<input type="text" class="form-control" name="firstlastname" id="firstlastname" placeholder="Primer apellido" ng-model="newClient.firstlastname" required ng-model-options="{ updateOn:'blur'}">
		            		<sub ng-show="formNewClient.firstlastname.$invalid && formNewClient.firstlastname.$touched">Primer apellido requerido</sub>
		            	</div>
		               <div class="col-sm-6 signUpSecondColumn">
		               		<label for="secondlastname">Segundo apellido</label>
		            		<input type="text" class="form-control" id="secondlastname" placeholder="Segundo apellido" ng-model="newClient.secondlastname">
		               </div>
		            </div> <!-- form group end -->
		        </div>
		        <div class="col-sm-10 col-sm-offset-1">
		            <div class="form-group">
		            	<div class="col-sm-6">
		            		<label for="personalId">Cédula de identidad*</label>
		            		<input type="text" minlength="9" maxlength="40" class="form-control" name="personalId" id="personalId" placeholder="101110111" ng-model="newClient.personalId" required ng-model-options="{ updateOn:'blur'}">
		            		<sub ng-show="formNewClient.personalId.$error.required && formNewClient.personalId.$touched">Numero de cedula requerido</sub>
		            		<sub ng-show="formNewClient.personalId.$error.minlength && formNewClient.personalId.$touched">Formato no válido</sub>
		            		<sub ng-show="formNewClient.personalId.$error.maxlength && formNewClient.personalId.$touched">Formato no válido</sub>
		            	</div>
		            </div> <!-- form group end -->
		        </div>
		        <div class="col-sm-10 col-sm-offset-1">
		            <div class="form-group">
		            	<div class="col-sm-6">
		            		<label for="email">Correo electrónico*</label>
		            		<input type="email" class="form-control" name="email" id="email" placeholder="juan@ejemplo.com" ng-model="newClient.email" required ng-model-options="{ updateOn:'blur'}">
		            		<sub ng-show="formNewClient.email.$error.required && formNewClient.email.$touched">Correo electrónico requerido</sub>
		            		<sub ng-show="formNewClient.email.$error.email && formNewClient.email.$touched">Formato de correo electrónico no valido</sub>
		            	</div>
		            </div> <!-- form group end -->
		        </div>
		        <div class="col-sm-10 col-sm-offset-1">
		            <div class="form-group">
		            	<div class="col-sm-6">
		            		<label for="password">Contraseña*</label>
		            		<input type="password" class="form-control" name="password" id="password" ng-model="newClient.password" required ng-model-options="{ updateOn:'blur'}">
		            		<sub ng-show="formNewClient.password.$error.required && formNewClient.password.$touched">La contraseña es requerida</sub>
		            	</div>
		            	<div class="col-sm-6 signUpSecondColumn">
		            		<label for="repeatPass">Repita contraseña*</label>
		            		<input type="password" class="form-control" name="repeatPass" id="repeatPass" ng-model="newClient.repeatPass" required ng-model-options="{ updateOn:'blur'}" data-password-verify="newClient.password">
		            		<sub ng-show="formNewClient.repeatPass.$error.required && formNewClient.repeatPass.$touched">Repetir contraseña es requerido</sub>
		            		<sub ng-show="formNewClient.repeatPass.$error.passwordVerify && formNewClient.repeatPass.$touched">Las contraseñas no coinciden</sub>
		            	</div>
		            </div> <!-- form group end -->
		        </div>
		        <div class="col-sm-10 col-sm-offset-1">
		            <div class="form-group">
		            	<div class="col-sm-6">
		            		<label for="phone">Teléfono*</label>
		            		<input type="number" min="0" ng-minlength="8" ng-maxlength="8" class="form-control" name="phone" placeholder="88888888" id="phone" ng-model="newClient.phone" required ng-model-options="{ updateOn:'blur'}" ng-pattern="expNumberPhone">
		            		<sub ng-show="formNewClient.phone.$error.required && formNewClient.phone.$touched">El telefono es requerido.</sub>
                			<sub ng-show="formNewClient.phone.$error.pattern && formNewClient.phone.$touched">El telefono no es valido, no se permiten numeros negativos ni decimales, y debe tener formato de 8 numeros, sin espacios.</sub>
		            	</div>
		            </div> <!-- form group end -->
		        </div>
		        <div class="col-sm-10 col-sm-offset-1">
		            <div class="form-group">
		            	<div class="col-sm-6">
		            		<label for="phone">Fecha de nacimiento*</label>
		            		<input type="date" class="form-control" name="date" id="date" ng-model="newClient.dateBirth" required ng-model-options="{ updateOn:'blur'}">
		            		<sub ng-show="formNewClient.date.$error.required && formNewClient.date.$touched">Fecha de nacimiento es requerida</sub>
		            		{{newClient.dateBirth}}
		            	</div>
		            	<div class="col-sm-6 signUpSecondColumn">
		            		<label>Género *</label>
		            		<select name="genre" id="genre" ng-model="newClient.genre" required ng-model-options="{ updateOn:'blur'}">
		            			<option value="">-- Género --</option>
		            			<option value="m">Masculino</option>
		            			<option value="f">Femenino</option>
		            		</select>
		            		<sub ng-show="formNewClient.genre.$error.required && formNewClient.genre.$touched">Elegir un genero</sub>
		            	</div>
		            </div> <!-- form group end -->
		        </div>
		        <div class="col-sm-10 col-sm-offset-1">
		            <div class="form-group">
		            	<div class="col-sm-6 checkbox">
		            		<label><input type="checkbox" value="userHasDisability" ng-model="newClient.disability">Presenta alguna discapacidad</label>
		            	</div>
		            </div> <!-- form group end -->
		       </div>
		        <div class="col-sm-10 col-sm-offset-1">
		            <div class="form-group col-sm-6">
		            	<label>Subir fotografía</label>
		            	<input type="file" ng-model="newClient.picture">
		            	<sub>Max 2mb</sub>
		            </div> <!-- form group end -->
		        </div>
		        <div class="col-sm-10 col-sm-offset-1">
		            <h3 class="error text-center">{{error}}</h3>
		        </div>
		        <div class="col-sm-10 col-sm-offset-1">
		            <div class="form-group">
		                <div class="col-sm-offset-4 col-sm-4 col-xs-12">
		                    <input type="submit" class="btn btn-block btn-lg" value="Registrarse" ng-disabled="formNewClient.$invalid" ng-hide="editing">
		                    <input type="submit" class="btn btn-block btn-lg" value="Editar datos" ng-disabled="formNewClient.$invalid" ng-show="editing" ng-click="editClient()">
		                </div>
		            </div> <!-- form group end -->
		        </div>   
			</form>
		</div>
	</div>
</div>
