<!-- Registro de Promotor -->
<div class="container-fluid registrationView">
	<div class="row">
		<div class="col-sm-6 col-sm-offset-1">
			<h2 ng-hide="editing">Registro de evento</h2>
			<h2 ng-show="editing">Editar de evento</h2>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-12">
			<form name="eventRegistrationForm" autocomplete="off" ng-submit="eventRegistrationForm.$valid && registerEvent()" novalidate>
				<div class="col-sm-10 col-sm-offset-1">
					<div class="form-group">
		                <div class="col-sm-4">
			                <label for="selectedType">Tipo de evento:</label>
							<select name="selectedType" id="selectedType" ng-model="newEvent.eventType" ng-model-options="{ updateOn:'blur'}" required>
								<option value="">-Tipo Evento-</option>
								  <option ng-repeat="option in eventTypes" value="{{option.id}}">{{option.name}}</option>
							</select>
							<sub ng-show="eventRegistrationForm.selectedType.$invalid && eventRegistrationForm.selectedType.$touched">Tipo de evento requerido</sub>
		                </div>
		                <div class="col-sm-4">
			                <label for="selectedSite">Elegir sitio:</label>
							<select name="selectedSite" id="selectedSite" ng-model="newEvent.siteId" ng-model-options="{ updateOn:'blur'}" required>
								<option value="">-Elegir Sitio-</option>
								  <option ng-repeat="site in sites" value="{{site.id}}">{{site.name}}</option>
							</select>
							<sub ng-show="eventRegistrationForm.selectedSite.$invalid && eventRegistrationForm.selectedSite.$touched">Elegir sitio requerido</sub>
		                </div>
		            </div> <!-- form group end -->
		        </div>
		        <div class="col-sm-10 col-sm-offset-1">
	            	<div class="form-group">
		            	<div class="col-sm-6">
		            		<label for="eventName">Nombre del evento*</label>
		            		<input type="text" class="form-control" name="eventName" id="eventName" ng-model="newEvent.name"  ng-model-options="{ updateOn:'blur'}" required>
		            		<sub ng-show="eventRegistrationForm.eventName.$invalid && eventRegistrationForm.eventName.$touched">Nombre requerido</sub>
		            	</div>
		            </div> <!-- form group end -->
	            </div>

	            <div class="col-sm-10 col-sm-offset-1">
	            	<div class="form-group">
		            	<div class="col-sm-6">
		            		<label for="description">Descripción*</label>
		            		<textarea class="form-control" name="description" id="description" ng-model="newEvent.description"  ng-model-options="{ updateOn:'blur'}" required></textarea>
		            		<sub ng-show="eventRegistrationForm.description.$invalid && eventRegistrationForm.description.$touched">Descripción requerida</sub>
		            	</div>
		            </div> <!-- form group end -->
	            </div>
	       		<div class="col-sm-10 col-sm-offset-1">
		            <div class="form-group">
		            	<div class="col-sm-6">
		            		<label for="eventDate">Fecha del evento*</label>
		            		<input type="date" class="form-control" name="eventDate" id="eventDate" ng-model="newEvent.date" ng-model-options="{ updateOn:'blur'}" min="{{minDate | date:'yyyy-MM-dd'}}" required>
		            		<sub ng-show="eventRegistrationForm.eventDate.$error.required && eventRegistrationForm.eventDate.$touched">Fecha del evento requerida</sub>
		            		<sub ng-show="eventRegistrationForm.eventDate.$error.min && eventRegistrationForm.eventDate.$touched">No se permite registrar eventos con menos de 15 días de anticipación o con fechas pasadas.</sub>
		            	</div>
		            </div> <!-- form group end -->
		        </div>
		        <div class="col-sm-10 col-sm-offset-1">
		            <div class="form-group">
		            	<div class="col-sm-6">
		            		<label for="startHour">Hora de inicio*</label>
		            		<input type="time" class="form-control" name="startHour" id="startHour" ng-model="newEvent.startHour" ng-model-options="{ updateOn:'blur'}" required>
		            		<sub ng-show="eventRegistrationForm.startHour.$invalid && eventRegistrationForm.startHour.$touched">Hora de inicio requerida</sub>
		            	</div>
		            	<div class="col-sm-6 signUpSecondColumn">
		            		<label for="endHour">Hora de finalización*</label>
		            		<input type="time" class="form-control" name="endHour" id="endHour" ng-model="newEvent.endHour" ng-model-options="{ updateOn:'blur'}" required>
		            		<sub ng-show="eventRegistrationForm.endHour.$invalid && eventRegistrationForm.endHour.$touched">Hora de finalización requerida</sub>
		            	</div>
		            </div> <!-- form group end -->
		        </div>
		        <div class="col-sm-10 col-sm-offset-1">
		            <div class="form-group">
		            	<div class="col-sm-6">
		            		<label for="ticketsPrice">Costo de entradas*</label>
		            		<input type="number" class="form-control" name="ticketsPrice" id="ticketsPrice" ng-model="newEvent.ticketsPrice" required>
		            		<sub ng-show="eventRegistrationForm.ticketsPrice.$invalid && eventRegistrationForm.ticketsPrice.$touched">Costo de entrada requerida</sub>
		            	</div>
		            </div> <!-- form group end -->
		        </div>
		        <div class="col-sm-10 col-sm-offset-1">
		            <div class="form-group col-sm-6">
		            	<label>Subir fotografía</label>
		            	<input filepicker type="filepicker" data-fp-apikey="AP3Zl3E3sQxCSkz8zv0TAz" data-fp-container="modal" data-fp-mimetype="image/*" data-fp-maxsize="2097152" data-fp-services="COMPUTER,FACEBOOK,INSTAGRAM,URL" data-fp-button-class="fp__btn" data-fp-services="{{services}}" on-success="savePicture(event.fpfile.url)"/>
		            	<sub>Max 2mb</sub>
		            </div> <!-- form group end -->
		        </div>
		        <div class="col-sm-10 col-sm-offset-1" ng-hide="editing">
		            <h3 class="error text-center">{{error}}</h3>
		        </div>
		        <div class="col-sm-10 col-sm-offset-1">
		            <div class="form-group">
		                <div class="col-sm-offset-4 col-sm-4 col-xs-12">
		                    <input type="submit" class="btn btn-block btn-lg" value="Crear evento" ng-disabled="eventRegistrationForm.$invalid" ng-hide="editing">
		                    <input type="submit" class="btn btn-block btn-lg" value="Editar evento" ng-disabled="eventRegistrationForm.$invalid" ng-show="editing" ng-click="editEvent()">
		                </div>
		            </div> <!-- form group end -->
		        </div>
			</form>
		</div>
	</div>
</div>

<!-- alert Modal -->
<div id="eventRegSuccessModal" class="modal fade alert-modal" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>    
      </div>
      <div class="modal-body">
        <p class="text-center">{{success}}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger btn-clear" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>