
<div class="container-fluid gen-list-container"> <!-- container-fluid user-list-setion -->
	<div class="container">
		<div class="row">
			<div class="gen-list">
				<div class="row"><!-- headerRow -->
					<h1 class="text-center genListTitle" ng-show="url==promReq">Lista de solicitudes de registro de promotor</h1>
					<h1 class="text-center genListTitle" ng-show="url==allSites">Manejo de todos los sitios</h1>
					<h1 class="text-center genListTitle" ng-show="url==allEveTypes">Manejo de todos los tipos de eventos</h1>
					<h1 class="text-center genListTitle" ng-show="url==allEventsAdmin">Manejo de todos los eventos</h1>
					<form name="genListForm">
						<div class="form-group p-relative">
						  <input type="search" class="form-control width80" placeholder="Buscar usuarios">
						  <button type="button" class="btn-absolute"><span class="glyphicon  glyphicon-search"></span></button>
						</div> 
					</form>
				</div> <!-- headerRow -->
				<div class="container-fluid">
					<div class="row"><!-- body-row -->
						<div class="col-md-12">
							<div ng-show="url==allSites || url==allEveTypes || url==allEventsAdmin">
								<div  class="width80"><span class="glyphicon glyphicon-ok-circle"></span> Activo</div>
								<div  class="width80"><span class="glyphicon glyphicon-remove-circle"></span> Inactivo</div>
							</div>

							<ul class="width80" ng-show="url==promReq">
								<li ng-repeat= "promotor in promPendingCheck track by $index"><a ng-href="#/promotor-signup/{{promotor.requestId}}">{{promotor.name}}
								<span class="pull-right glyphicon glyphicon-chevron-right"></span></a></li>
								<li ng-hide="promPendingCheck.length>0"><h3>No hay solicitudes de promotor.</h3></li>
							</ul>

							<ul class="width80" ng-show="url==allSites">
								<li ng-repeat="site in sitesList track by $index"><a ng-href="#/site-profile/{{site.id}}">{{site.name}} <span ng-show="site.active" class="glyphicon glyphicon-ok-circle"></span><span ng-show="!site.active" class="glyphicon glyphicon-remove-circle"></span>
								<span class="pull-right glyphicon glyphicon-chevron-right"></span></a></li>
							</ul>

							<ul class="width80" ng-show="url==allEveTypes">
								<li ng-repeat="evType in eventTypes track by $index"><a ng-href="#/event-type-profile/{{evType.id}}">{{evType.name}} <span ng-show="evType.active" class="glyphicon glyphicon-ok-circle"></span><span ng-show="!evType.active" class="glyphicon glyphicon-remove-circle"></span>
								<span class="pull-right glyphicon glyphicon-chevron-right"></span></a></li>
							</ul>

							<ul class="width80" ng-show="url==allEventsAdmin">
								<li ng-repeat="event in eventsList track by $index"><a ng-href="#/event-profile/{{event.id}}">{{event.name}} <span ng-show="event.active" class="glyphicon glyphicon-ok-circle"></span><span ng-show="!event.active" class="glyphicon glyphicon-remove-circle"></span>
								<span class="pull-right glyphicon glyphicon-chevron-right"></span></a></li>
							</ul>
						</div>
					</div><!-- body-row -->
				</div> <!-- container -->
			</div><!-- upcoming-events -->
		</div> <!-- row -->
	</div>
</div><!-- container-fluid user-list-container -->