
<div class="container-fluid gen-list-container"> <!-- container-fluid user-list-setion -->
	<div class="container">
		<div class="row">
			<div class="gen-list">
				<div class="row"><!-- headerRow -->
					<h1 class="text-center genListTitle" ng-show="url==promReq">Lista de solicitudes de registro de promotor</h1>
					<h1 class="text-center genListTitle" ng-show="url==allSites">Manejo de todos los sitios</h1>
					<h1 class="text-center genListTitle" ng-show="url==allEveTypes">Manejo de todos los tipos de eventos</h1>
					<h1 class="text-center genListTitle" ng-show="url==allEventsAdmin">Manejo de todos los eventos</h1>
				</div> <!-- headerRow -->
				<div class="container-fluid">
					<div class="row"><!-- body-row -->
						<div class="col-md-12">
							<ul class="width80" ng-show="url==promReq">
								<li ng-repeat= "promotor in promPendingCheck track by $index"><a ng-href="#/promotor-request-info/{{promotor.requestId}}">{{promotor.name}}
								<span class="pull-right glyphicon glyphicon-chevron-right"></span></a></li>
								<li ng-hide="promPendingCheck.length>0"><h3>No hay solicitudes de promotor.</h3></li>
							</ul>

							<ul class="width80" ng-show="url==allSites">
								<li ng-repeat="site in sitesList track by $index"><a ng-href="#/site-profile/{{site.id}}">{{site.name}}
								<span class="pull-right glyphicon glyphicon-chevron-right"></span></a></li>
							</ul>

							<ul class="width80" ng-show="url==allEveTypes">
								<li ng-repeat="evType in eventTypeList track by $index"><a ng-href="#/event-type-profile/{{evType.id}}">{{evType.name}}
								<span class="pull-right glyphicon glyphicon-chevron-right"></span></a></li>
							</ul>

							<ul class="width80" ng-show="url==allEventsAdmin">
								<li ng-repeat="event in eventsList track by $index"><a ng-href="#/event-profile/{{event.id}}">{{event.name}}
								<span class="p ull-right glyphicon glyphicon-chevron-right"></span></a></li>
							</ul>
						</div>
					</div><!-- body-row -->
				</div> <!-- container -->
			</div><!-- upcoming-events -->
		</div> <!-- row -->
	</div>
</div><!-- container-fluid user-list-container -->