		<!-- AQUI EMPIEZA EL HOME HTML -->
	<div class="box">
		<div id="myCarousel" class="carousel slide" data-ride="carousel">
			<ol class="carousel-indicators">
				<li data-target="#myCarousel" data-slide-to="0" class="item-active"></li>
				<li data-target="#myCarousel" data-slide-to="1"></li>
				<li data-target="#myCarousel" data-slide-to="2"></li>
			</ol>
			<div class="carousel-inner relative" role="listbox">
				<div class="item carousel-item active">
					<!--<div class="container carousel-info-container">
						<div class="carousel-info">
							<h2>Mal País en Concierto</h2>
							<h3>08 de Abril</h3>
							<a href="#" role="button">Ver evento></a>
						</div>
					</div>-->
					<img class="first-slide img-responsive center-block" src="images/event-default-images/imagen1.jpg" alt="First slide">
				</div>
				<div class="item carousel-item">
					<!--<div class="container carousel-info-container">
						<div class="carousel-info">
							<h2>Costa Rica vrs Jamaica</h2>
							<h3>08 de mayo</h3>
							<a href="#" role="button">Ver evento></a>
						</div>
					</div>-->
					<img class="second-slide img-responsive center-block" src="images/event-default-images/imagen4.jpg" alt="Second slide">
				</div>
				<div class="item carousel-item">
					<!--<div class="container carousel-info-container">
						<div class="carousel-info">
							<h2>Pink Floyd en concierto</h2>
							<h3>08 de mayo</h3>
							<a href="#" role="button">Ver evento></a>
						</div>
					</div>-->
					<img class="third-slide img-responsive center-block" src="images/event-default-images/imagen11.jpg" alt="Third slide">
				</div>
				<div class="carousel-gray-color absolute"></div>
				<div class="absolute eventLink"><a ng-href="#/all-events" class="center-block">Eventos</a></div>

			</div>
			<p class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
			<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
			<span class="sr-only">Anterior</span>
			</p>
			<p class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
			<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
			<span class="sr-only">Siguiente</span>
			</p>
		</div>
	</div> <!--  container-fluid-carousel -->
	
	
	<div class="secondary-navbar"><!-- secondary-navbar -->
		<nav class="navbar navbar-default">
		  	<div class="container-fluid">
			    <div class="navbar-header">
			      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2" aria-expanded="false">
			        <span class="sr-only">Toggle navigation</span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			      </button>
			    </div>
		    <!-- Collect the nav links, forms, and other content for toggling -->
			    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
			      <div class="col-sm-3 no-padding">
				      <ul class="nav navbar-nav width100">
							<li class="dropdown width100">      
								<div class="dropdown width100">
								  <button class="width100 dropdown-toggle text-center" type="button" data-toggle="dropdown"><span class="glyphicon glyphicon-th-list"></span> Categorías
								  <span class="caret"></span></button>
								  <ul class="dropdown-menu">
								    <li ng-repeat="eventType in getEventTypeList()"><a ng-click="viewCategory(eventType.id)">{{eventType.name}}</a></li>
								  </ul>
								</div>
							</li>
					      </ul>
			      </div><!-- col-sm-m -->
			      <div class="col-sm-9 no-padding">
				      <form class="navbar-form navbar-left width100 no-padding" role="search" novalidation>
				        <div class="form-group width100 no-padding p-relative main-search">
				          <input type="search" ng-model="search" class="form-control" placeholder="Busca eventos"
				          >
				          <button type="button" class="btn-absolute"><span class="glyphicon  glyphicon-search"></span></button>
				        </div>   
				      </form>
				  </div><!-- col-sm-9 -->
			   </div><!-- /.navbar-collapse -->
		  </div><!-- /.container-fluid -->
		</nav>
	</div><!-- fin secondary-navbar -->

	<!-- Eventos proximos -->
	<div class="container">
		<div class="row">
			<div class="upcoming-events" ng-hide="search.length>0">   
				<div class="row">
					<div class="col-sm-12">
						<h2>Eventos Próximos</h2>
					</div>
				</div> <!-- row -->
				<div class="col-md-4" ng-repeat="event in eventsList | orderBy: 'date' | limitTo: '3' track by $index">
					<div class="upcoming-events-item">
						<div class="upcoming-event-info">
							<h5>{{event.name}}</h5>
							<p>{{event.date | date}}</p>
							<p>{{event.startHour}}</p>
						</div>
						<div class="event-item-img">
							<img ng-src="{{event.image}}" class="img-responsive center-block" alt="">
							<button class="buy-button first center-block" ><a ng-href="#/event-profile/{{event.id}}">Ver evento</a></button>
						</div>
					</div><!-- upcoming-events-item -->
				</div>
			</div><!-- upcoming-events -->

			<div class="upcoming-events" ng-show="search.length>0">
				<div class="row">
					<div class="col-sm-12">
						<h2>Busqueda</h6>
					</div>
				</div> <!-- row -->
				<h4 ng-show="(eventsList | filter:search).length == 0">Ningún resultado encontrado</h4>
				<div class="col-md-4" ng-repeat="event in eventsList | orderBy: 'datetime' | limitTo: '9' | filter:search track by $index">
					<div class="upcoming-events-item">
						<div class="upcoming-event-info">
							<h5>{{event.name}}</h5>
							<p>{{event.date | date}}</p>
							<p>{{event.startHour}}</p>
						</div>
						<div class="event-item-img">
							<img ng-src="{{event.image}}" class="img-responsive center-block" alt="">
							<button class="buy-button first center-block" ><a ng-href="#/event-profile/{{event.id}}">Ver evento</a></button>
						</div>
					</div><!-- upcoming-events-item -->
				</div>
			</div><!-- upcoming-events -->
		</div> <!-- row -->
	</div><!-- Fin Eventos proximos -->


	<!-- Eventos del dia -->
	<div class="container today-events-container">
		<div class="row">
			<div class="upcoming-events">   
				<div class="row">
					<div class="col-sm-12">
						<h2>Eventos del día</h2>
						<h4 ng-show="(todayEvents).length == 0">Ningún evento para hoy</h4>
					</div>
				</div> <!-- row -->
				<div class="col-md-4" ng-repeat="event in todayEvents | orderBy: 'datetime' | limitTo: '6' track by $index">
					<div class="upcoming-events-item">
						<div class="upcoming-event-info">
							<h5>{{event.name}}</h5>
							<p>{{event.date | date}}</p>
							<p>{{event.startHour}}</p>
						</div>
						<div class="event-item-img">
							<img ng-src="{{event.image}}" class="img-responsive center-block" alt="">
							<button class="buy-button first center-block" ><a ng-href="#/event-profile/{{event.id}}">Ver evento</a></button>
						</div>
					</div><!-- upcoming-events-item -->
				</div>
			</div><!-- upcoming-events -->
		</div> <!-- row -->
	</div> <!-- container -->

	<!-- social media -->
	<div class="container social-media-container">
		<div class="row">
			<div class="social-media">
				<div class="row">
					<div class="col-sm-12">
						<h4 class="text-center">Siguenos para obtener promociones</h4>
					</div>
				</div>
				<div class="col-lg-12 social-media-items-container">
					<div class="social-media-items">
						<a href="#"><img src="images/social-media/social-facebook.png" width="50" height="50" class="display-inline img-responsive"></a>
	             		<a href="#"><img src="images/social-media/social-twitter.png" width="50" height="50" class="display-inline img-responsive"></a>
	              		<a href="#"><img src="images/social-media/social-instagram.png" width="50" height="50" class="display-inline img-responsive"></a>
	              	</div>
				</div>
			</div> <!-- today-events -->
		</div> <!-- row -->
	</div> <!-- container -->
<!-- AQUI TERMINA EL HOME HTML -->