<div class="auditorio">
	<div class="seat-container">
		<div class="tarima absolute"><p class="text-center middle">Escenario</p></div>
		<div class="vip pointer absolute" ng-click="ShowSiteSeats('vip', 'VP', 3, 18, '3', 'top')"><p class="text-center middle">VIP</p></div>
		<div class="butacas pointer absolute" ng-click="ShowSiteSeats('butacas', 'BU', 10, 25, '3', 'top')"><p class="text-center middle">Butacas</p></div>
		<div class="galeria pointer absolute" ng-click="ShowSiteSeats('galeria', 'GO', 8, 32, '3', 'top')"><p class="text-center middle">Galería</p></div>
	</div>
</div>

<!-- zoneName, zoneId, rows, cols, site, location -->
<!-- Capacidad: 642 -->

