<div class="auditorio">
	<div class="seat-container">
		<div class="tarima absolute"><p class="text-center">Escenario</p></div>
		<div class="vip pointer absolute" ng-click="prueba('VIP', 'VIP', 2, 18, 'auditorio', 'top')"><p class="text-center">VIP</p></div>
		<div class="butacas pointer absolute" ng-click="prueba('Butacas', 'BU', 14, 25, 'auditorio', 'top')"><p class="text-center">Butacas</p></div>
		<div class="galeria pointer absolute" ng-click="prueba('Galería', 'GO', 8, 32, 'auditorio', 'top')"><p class="text-center">Galería</p></div>
		<!-- <div class="norte pointer absolute" ng-click="prueba('Gradería Norte', 'GN', 9, 20, 'auditorio', 'top')"><p class="text-center"></p></div> -->
	</div>
</div>

<!-- zoneName, zoneId, rows, cols, site, location -->