<div class="estadio">
	<div class="seat-container">
		<div class="cancha absolute"><p class="text-center">Cancha</p></div>
		<div class="platea">
			<div class="platea1 t-top pointer absolute" ng-click="prueba('platea Este', 'PE', 16, 4, 'estadio', 'top')"><p class="text-center">Platea</p></div>
			<div class="platea2 t-bottom pointer absolute" ng-click="prueba('platea Oeste', 'PO', 4, 16 , 'estadio', 'top')"><p class="text-center">Platea</p></div>
			<div class="platea3 t-left pointer absolute" ng-click="prueba('platea Norte', 'PN', 16, 4, 'estadio', 'top')"><p class="text-center">Platea</p></div>
			<div class="platea4 t-rigth pointer absolute" ng-click="prueba('platea Sur', 'PS', 16, 4, 'estadio', 'top')"><p class="text-center">Platea</p></div>
		</div>
		<!-- <div class="palco">
			<div class="palco1 t-left pointer absolute" ng-click="prueba('palco Este', 'BE', 10, 4, 'estadio', 'top')"><p class="text-center">Palco</p></div>
			<div class="palco2 t-rigth pointer absolute" ng-click="prueba('palco Oeste', 'BO', 4, 8, 'estadio', 'top')"><p class="text-center">Palco</p></div>
			<div class="palco3 t-center pointer absolute" ng-click="prueba('palco Sur', 'BS', 10, 4, 'estadio', 'top')"><p class="text-center">Palco</p></div>
		</div>
		<div class="graderia">
			<div class="graderia1 t-left pointer absolute" ng-click="prueba('graderia Este', 'GE', 12, 5, 'estadio', 'top')"><p class="text-center">Gradería</p></div>
			<div class="graderia2 t-rigth pointer absolute" ng-click="prueba('graderia Oeste', 'GO', 5, 20, 'estadio', 'top')"><p class="text-center">Gradería</p></div>
			<div class="graderia3 t-center pointer absolute" ng-click="prueba('graderia Sur', 'GS', 12, 5, 'estadio', 'top')"><p class="text-center">Gradería</p></div>
		</div> -->
	</div>
</div>

<!-- zoneName, zoneId, rows, cols, site, location -->