<div class="estadio">
	<div class="seat-container">
		<div class="cancha absolute"><p class="text-center middle">Cancha</p></div>
		<div class="platea">
			<div class="platea1 t-top pointer absolute" ng-click="prueba('platea Este', 'PE', 5, 16, 'estadio', 'top')"><p class="text-center middle">Platea</p></div>
			<div class="platea2 t-bottom pointer absolute" ng-click="prueba('platea Oeste', 'PO', 5, 16 , 'estadio', 'top')"><p class="text-center middle">Platea</p></div>

			<div class="platea3 t-left pointer absolute" ng-click="prueba('platea Norte', 'PN', 8, 5, 'estadio', 'top')"><p class="text-center middle"></p></div>
			<div class="platea4 t-rigth pointer absolute" ng-click="prueba('platea Sur', 'PS', 8, 5, 'estadio', 'top')"><p class="text-center middle"></p></div>
		</div>
 		<div class="palco">
			<div class="palco1 t-top pointer absolute" ng-click="prueba('palco Este', 'BE', 10, 22, 'estadio', 'top')"><p class="text-center middle">Palco</p></div>
			<div class="palco2 t-bottom pointer absolute" ng-click="prueba('palco Oeste', 'BO', 10, 22, 'estadio', 'top')"><p class="text-center middle">Palco</p></div>

			<div class="palco3 t-left pointer absolute" ng-click="prueba('palco Norte', 'BS', 12, 10, 'estadio', 'top')"><p class="text-center middle">Palco</p></div>
			<div class="palco4 t-rigth pointer absolute" ng-click="prueba('palco Sur', 'BS', 12, 10, 'estadio', 'top')"><p class="text-center middle">Palco</p></div>
		</div>
		<div class="graderia">
			<div class="graderia1 t-top pointer absolute" ng-click="prueba('graderia Este', 'GE', 15, 25, 'estadio', 'top')"><p class="text-center middle">Gradería Este</p></div>
			<div class="graderia2 t-bottom pointer absolute" ng-click="prueba('graderia Oeste', 'GO', 15, 25, 'estadio', 'top')"><p class="text-center middle">Gradería Oeste</p></div>

			<div class="graderia3 t-left pointer absolute" ng-click="prueba('graderia Norte', 'GS', 12, 18, 'estadio', 'top')"><p class="text-center middle">Gradería Norte</p></div>
			<div class="graderia4 t-rigth pointer absolute" ng-click="prueba('graderia Sur', 'GS', 12, 18, 'estadio', 'top')"><p class="text-center middle">Gradería Sur</p></div>
		</div> 
	</div>
</div>

<!-- zoneName, zoneId, rows, cols, site, location -->
<!-- Capacidad:2102personas-->
<!--
           este
	   Norte    Sur
           oeste
-->