<div class="palacio">
	<div class="seat-container">
		<div class="tarima absolute"><p class="text-center">Tarima</p></div>
		<div class="este pointer absolute" ng-click="prueba('Gradería Este', 'GE', 20, 9, 'Palacio', 'rigth')"><p class="text-center">Gradería Este</p></div>
		<div class="preferencial pointer absolute" ng-click="prueba('PREFERENCIAL', 'PR', 8, 10, 'Palacio', 'top')"><p class="text-center">Zona PREFERENCIAL de pie</p></div>
		<div class="oeste pointer absolute" ng-click="prueba('Gradería Oeste', 'GO', 10, 10, 'Palacio', 'left')"><p class="text-center">Gradería Oeste</p></div>
		<div class="norte pointer absolute" ng-click="prueba('Gradería Norte', 'GN', 9, 20, 'Palacio', 'top')"><p class="text-center">Gradería Norte</p></div>
	</div>
</div>