<div class="palacio">
	<div class="seat-container">
		<div class="tarima absolute"><p class="text-center middle">Tarima</p></div>
		<div class="este pointer absolute" ng-click="ShowSiteSeats('gradería este', 'GE', 20, 9, '4', 'rigth')"><p class="text-center middle">Gradería Este</p></div>
		<div class="preferencial pointer absolute" ng-click="ShowSiteSeats('preferencial', 'PR', 8, 10, '4', 'top')"><p class="text-center middle">Zona PREFERENCIAL de pie</p></div>
		<div class="oeste pointer absolute" ng-click="ShowSiteSeats('gradería oeste', 'GO', 20, 9, '4', 'left')"><p class="text-center middle">Gradería Oeste</p></div>
		<div class="norte pointer absolute" ng-click="ShowSiteSeats('gradería norte', 'GN', 9, 26, '4', 'top')"><p class="text-center middle">Gradería Norte</p></div>
	</div>
</div>

<!-- Capacidad:540 personas -->



