<div class="teatro">
	<div class="seat-container">
		<div class="tarima absolute"><p class="text-center middle">Escenario</p></div>
		<div class="luneta pointer absolute" ng-click="ShowSiteSeats('luneta', 'LU', 8, 12, 'si01', 'top')"><p class="text-center middle">Luneta</p></div>
		<div class="palco">
			<div class="palco1 t-left pointer absolute" ng-click="ShowSiteSeats('palco este', 'PE', 10, 4, 'si01', 'top')"><p class="text-center middle">Palco Este</p></div>
			<div class="palco2 t-rigth pointer absolute" ng-click="ShowSiteSeats('palco oeste', 'PO', 10, 4 , 'si01', 'top')"><p class="text-center middle">Palco Oeste</p></div>
			<div class="palco3 t-center pointer absolute" ng-click="ShowSiteSeats('palco sur', 'PS', 4, 10, 'si01', 'top')"><p class="text-center middle">Palco Sur</p></div>
		</div>
		<div class="butacas">
			<div class="butacas1 t-left pointer absolute" ng-click="ShowSiteSeats('butacas este', 'BE', 12, 5, 'si01', 'top')"><p class="text-center middle">Butacas Este</p></div>
			<div class="butacas2 t-rigth pointer absolute" ng-click="ShowSiteSeats('butacas oeste', 'BO', 12, 5, 'si01', 'top')"><p class="text-center middle">Butacas Oeste</p></div>
			<div class="butacas3 t-center pointer absolute" ng-click="ShowSiteSeats('butacas sur', 'BS', 5, 12, 'si01', 'top')"><p class="text-center middle">Butacas Sur</p></div>
		</div>
		<div class="galeria">
			<div class="galeria1 t-left pointer absolute" ng-click="ShowSiteSeats('galeria este', 'GE', 15, 5, 'si01', 'top')"><p class="text-center middle">Galería Este</p></div>
			<div class="galeria2 t-rigth pointer absolute" ng-click="ShowSiteSeats('galeria oeste', 'GO', 15, 5, 'si01', 'top')"><p class="text-center middle">Galería Oeste</p></div>
			<div class="galeria3 t-center pointer absolute" ng-click="ShowSiteSeats('galeria sur', 'GS', 5, 18, 'si01', 'top')"><p class="text-center middle">Galería Sur</p></div>
		</div>
	</div>
</div>

<!-- zoneName, zoneId, rows, cols, site, location -->
<!-- Capacidad: 692personas -->
