<div class="teatro">
	<div class="seat-container">
		<div class="tarima absolute"><p class="text-center">Escenario</p></div>
		<div class="luneta pointer absolute" ng-click="prueba('luneta', 'LU', 14, 12, 'teatro', 'top')"><p class="text-center">Luneta</p></div>
		<div class="palco">
			<div class="palco1 t-left pointer absolute" ng-click="prueba('palco este', 'PE', 16, 4, 'teatro', 'top')"><p class="text-center">Palco Este</p></div>
			<div class="palco2 t-rigth pointer absolute" ng-click="prueba('palco oeste', 'PO', 4, 16 , 'teatro', 'top')"><p class="text-center">Palco Oeste</p></div>
			<div class="palco3 t-center pointer absolute" ng-click="prueba('palco sur', 'PS', 16, 4, 'teatro', 'top')"><p class="text-center">Palco Sur</p></div>
		</div>
		<div class="butacas">
			<div class="butacas1 t-left pointer absolute" ng-click="prueba('butacas este', 'BE', 10, 4, 'teatro', 'top')"><p class="text-center">Butacas Este</p></div>
			<div class="butacas2 t-rigth pointer absolute" ng-click="prueba('butacas oeste', 'BO', 4, 8, 'teatro', 'top')"><p class="text-center">Butacas Oeste</p></div>
			<div class="butacas3 t-center pointer absolute" ng-click="prueba('butacas sur', 'BS', 10, 4, 'teatro', 'top')"><p class="text-center">Butacas Sur</p></div>
		</div>
		<div class="galeria">
			<div class="galeria1 t-left pointer absolute" ng-click="prueba('galeria este', 'GE', 12, 5, 'teatro', 'top')"><p class="text-center">Galería Este</p></div>
			<div class="galeria2 t-rigth pointer absolute" ng-click="prueba('galeria oeste', 'GO', 5, 20, 'teatro', 'top')"><p class="text-center">Galería Oeste</p></div>
			<div class="galeria3 t-center pointer absolute" ng-click="prueba('galeria sur', 'GS', 12, 5, 'teatro', 'top')"><p class="text-center">Galería Sur</p></div>
		</div>
	</div>
</div>

<!-- zoneName, zoneId, rows, cols, site, location -->
<!-- Capacidad: 692personas -->
