<div class="teatro">
	<div class="seat-container">
		<div class="tarima absolute"><p class="text-center">Escenario</p></div>
		<div class="luneta pointer absolute" ng-click="prueba('Luneta', 'LU', 14, 12, 'teatro', 'top')"><p class="text-center">Luneta</p></div>
		<div class="palco">
			<div class="palco1 t-left pointer absolute" ng-click="prueba('Palco Este', 'PE', 16, 4, 'teatro', 'top')"><p class="text-center">Palco</p></div>
			<div class="palco2 t-rigth pointer absolute" ng-click="prueba('Palco Oeste', 'PO', 4, 16 , 'teatro', 'top')"><p class="text-center">Palco</p></div>
			<div class="palco3 t-center pointer absolute" ng-click="prueba('Palco Sur', 'PS', 16, 4, 'teatro', 'top')"><p class="text-center">Palco</p></div>
		</div>
		<div class="butacas">
			<div class="butacas1 t-left pointer absolute" ng-click="prueba('Butacas Este', 'BE', 10, 4, 'teatro', 'top')"><p class="text-center">Butacas</p></div>
			<div class="butacas2 t-rigth pointer absolute" ng-click="prueba('Butacas Oeste', 'BO', 4, 8, 'teatro', 'top')"><p class="text-center">Butacas</p></div>
			<div class="butacas3 t-center pointer absolute" ng-click="prueba('Butacas Sur', 'BS', 10, 4, 'teatro', 'top')"><p class="text-center">Butacas</p></div>
		</div>
		<div class="galeria">
			<div class="galeria1 t-left pointer absolute" ng-click="prueba('Galeria Este', 'GE', 12, 5, 'teatro', 'top')"><p class="text-center">Galería</p></div>
			<div class="galeria2 t-rigth pointer absolute" ng-click="prueba('Galeria Oeste', 'GO', 5, 20, 'teatro', 'top')"><p class="text-center">Galería</p></div>
			<div class="galeria3 t-center pointer absolute" ng-click="prueba('Galeria Sur', 'GS', 12, 5, 'teatro', 'top')"><p class="text-center">Galería</p></div>
		</div>
	</div>
</div>

<!-- zoneName, zoneId, rows, cols, site, location -->