
<div class="container-fluid promoter-profile-container"> <!-- container-fluid user-list-setion -->
	<div class="container">
		<div class="row">
			<div class="promoter-profile">
				<div class="container-fluid">
					<div class="row"><!-- options row -->
						<div class="col-sm-2 left-panel">
							<p class="text-center"><a ng-click="editPromotor()">Modificar datos</a></p>
							<p class="text-center"><a href="#/">Mis reservas</a></p>
						</div>
						<div class="col-sm-10">
							<div class="row">
								<div class="col-lg-12">
									<h2>{{promotor.name}}</h2>
								</div>
							</div>
	
							<div class="row promoter-events"><!-- row de mis reservas -->
								<div class="row">
									<div class="col-md-6">
										<h4>Mis Eventos</h4>
									</div>
									<div class="col-md-6">
										<form name="" class="promoter-events-search">
											<div class="form-group p-relative">
											  <input type="search" ng-model="search" class="form-control width80" placeholder="Buscar eventos...">
											  <button type="submit" class="btn-absolute"><span class="glyphicon  glyphicon-search"></span></button>
											</div> 
										</form>
									</div>
								</div>
									<div class="row"><!-- body-row -->

										<div class="col-md-6 promoter-event-item" ng-show="search.length>0">
											<div class="width90">
												<h3>Búsqueda</h3>
											</div>
											<h4 class="width90" ng-show="(allUsers | filter:search).length == 0">Ningún resultado encontrado</h4>
											<ul class="width90">
												<li ng-repeat="event in events() | filter:search | orderBy: 'date' track by $index">
													<a ng-click="$parent.eventToDisplay = event;"><img ng-src="{{event.image}}" class="img-responsive" alt=""></a>
													<div class="pei-info">
														<h5>{{event.name}}</h5>
														<p>{{event.date | date}}</p>
													</div>
													<button ng-click="$parent.eventToDisplay = event;" class="btn btn-warning">Ver detalles</button>
												</li>
											</ul>
										</div>
										<div class="col-md-6 promoter-event-item" ng-hide="search.length>0">
											<ul class="width90">
												<li ng-repeat="event in events() | orderBy: 'date' track by $index">
													<a ng-click="$parent.eventToDisplay = event;"><img ng-src="{{event.image}}" class="img-responsive" alt=""></a>
													<div class="pei-info">
														<h5>{{event.name}}</h5>
														<p>{{event.date | date}}</p>
													</div>
													<button ng-click="$parent.eventToDisplay = event;" class="btn btn-warning">Ver detalles</button>
												</li>

											</ul>
										</div>
										<div class="col-md-6">
											<div ng-show="eventToDisplay" class="promoter-event-container width90">
												<div class="user-item-info">
													<h3>{{eventToDisplay.name}}</h3>
													<p><a ng-href="#/event-profile/{{eventToDisplay.id}}">Ver evento completo <span class="glyphicon glyphicon-chevron-right"></span></a></p>
												</div>
												<div class="user-item-info">
													<p>{{eventToDisplay.siteId}}</p>
													<p>{{eventToDisplay.date | date}}</p>
												</div>
												<div class="user-item-info">
													<p>Capacidad total: {{eventToDisplay.capacity}} personas</p>
													<p>Vendidos: XXX</p>
													<p>XXX% de la totalidad</p>
												</div>
												<button class="btn btn-danger center-block"><a ng-href="#/event-profile-edit/{{eventToDisplay.id}}">Editar evento</a></button>
											</div>
										</div> <!-- col-md-6 -->
									</div><!-- body-row -->
							</div><!-- row de mis reservas -->
					</div><!-- options-row -->
				</div> <!-- container -->
			</div><!-- upcoming-events -->
		</div> <!-- row -->
	</div>
</div><!-- container-fluid user-list-container -->
