
<div class="container-fluid redeem-tickets-container"> <!-- container-fluid user-list-setion -->
	<div class="container">
		<div class="row">
			<div class="redeem-tickets">
				<div class="row"><!-- headerRow -->
					<h1 class="text-center">Redimir tiquetes</h1>
				</div> <!-- headerRow -->
				<div class="container-fluid">
					<div class="row"><!-- options row -->
						<div class="col-md-4">
							<form name="redeemForm">
								<div class="form-group">
									<label for="txtCode" class="text-center" >Ingrese el código de reserva</label>
									<input type="text" class="width80 text-center" id="txtCode" name="code" ng-model="reservationCode.code" required ng-model-options="{ updateOn:'blur'}" class="form-control">
								</div>
							</form>
						</div>
						<div class="col-md-4">
							<button class="btn btn-primary width80" ng-click="reservations(reservationCode.code)">Ver detalles</button>
						</div>
						<div class="col-md-4">
							<button class="btn btn-danger width80" data-toggle="modal" data-target="#alertModal">Redimir</button>
						</div>


						<div id="alertModal" class="modal fade alert-modal" role="dialog">
						  <div class="modal-dialog">
						    <!-- Modal content-->
						    <div class="modal-content">
						      <div class="modal-header">
						        <button type="button" class="close" data-dismiss="modal">&times;</button>
						        
						      </div>
						      <div class="modal-body">
						        <p class="text-center">¿Está seguro que desea redimir esta reservación?</p>
						      </div>
						      <div class="modal-footer">
						        <button type="button" class="btn btn-danger btn-clear" data-dismiss="modal">Close</button>
						        <button type="submit" class="btn btn-primary" ng-click="redeem(reservationCode.code)">Redimir</button>
						      </div>
						    </div>

						  </div>
						</div>


					</div><!-- options-row -->
					<div class="row"><!-- details-row -->
						<div ng-show="details" ng-repeat="reservation in reservations(reservationCode.code)" class="col-sm-12 info-container">
							<p><strong>Código:</strong> {{reservation.trCode}}</p>
							<p>redimido {{reservation.redeemed}}</p>
							<p><strong>Evento:</strong> {{reservation.eventName}}</p>
							<p><strong>Usuario:</strong> {{reservation.userName}}</p>
							<p><strong>Cantidad:</strong> {{reservation.ticketsAmount}} entrada(s)</p>
							<p><strong>Total:</strong> {{reservation.total  | currency: '¢' }}</p>
						</div>
					</div><!-- details-row -->
				</div> <!-- container -->
			</div><!-- upcoming-events -->
		</div> <!-- row -->
	</div>
</div><!-- container-fluid user-list-container -->