
<div class="container-fluid user-list-container"> <!-- container-fluid user-list-setion -->
	<div class="container">
		<div class="row">
			<div class="user-list">
				<div class="row"><!-- headerRow -->
					<h1 class="text-center">Usuarios</h1>
					<form name="userListForm">
						<div class="form-group p-relative">
						  <input type="search" ng-model="search" class="form-control width80" placeholder="Buscar usuarios">
						  <button type="button" class="btn-absolute"><span class="glyphicon  glyphicon-search"></span></button>
						</div> 
					</form>
				</div> <!-- headerRow -->
				<div class="container-fluid">
					<div class="row">
						<div  class="width90"><span class="glyphicon glyphicon-ok-circle"></span> Activo</div>
						<div  class="width90"><span class="glyphicon glyphicon-remove-circle"></span> Inactivo</div>
					</div>
					<div class="row"><!-- body-row -->

						<div class="allUsers col-md-6" ng-show="!search.length>0">
							<ul class="width90">
								<li ng-repeat="user in allUsers track by $index"><a ng-click=" $parent.userToDisplay = user;">{{user.name}}
								<span ng-show="user.active" class="glyphicon glyphicon-ok-circle"></span><span ng-show="!user.active" class="glyphicon glyphicon-remove-circle"></span>
								<span class="pull-right glyphicon glyphicon-chevron-right"></span></a></li>
							</ul>
						</div>

						<div class="allUsers col-md-6" ng-show="search.length>0">
							<div class="width90">
								<h3>Búsqueda</h3>
							</div>
							<h4 class="width90" ng-show="(allUsers | filter:search).length == 0">Ningún resultado encontrado</h4>
							<ul class="width90">
								<li ng-repeat="user in allUsers | filter:search track by $index"><a ng-click="$parent.userToDisplay = user;">{{user.name}} <span ng-show="user.active" class="glyphicon glyphicon-ok-circle"></span><span ng-show="!user.active" class="glyphicon glyphicon-remove-circle"></span>
								<span class="pull-right glyphicon glyphicon-chevron-right"></span></a></li>
							</ul>
						</div>

						<div class="col-md-6">
							<div ng-show="userToDisplay" class="user-info-container width90">
								<div class="user-item-info">
									<h3>{{userToDisplay.name}}</h3>
									<p><strong>id:</strong> {{ userToDisplay.id }}</p>
								</div>
								<div class="user-item-info">
									<p><strong>E-mail:</strong> {{ userToDisplay.email }}</p>
								</div>
								<div class="user-item-info">
									<p><strong>Tipo de Usuario: </strong>
									<span ng-show="userToDisplay.userType == 'ut02'">Cliente</span>
									<span ng-show="userToDisplay.userType == 'ut03'">Promotor</span>
									<span ng-show="userToDisplay.userType == 'ut04'">Cajero</span>
									</p>
								</div>
								<button class="btn btn-warning center-block" ng-click="editActive(userToDisplay.id)"><span ng-show="!userToDisplay.active">Activar</span><span ng-show="userToDisplay.active">Inactivar</span> usuario</button>
							</div>
						</div>

					</div><!-- body-row -->
				</div> <!-- container -->
			</div><!-- upcoming-events -->
		</div> <!-- row -->
	</div>
</div><!-- container-fluid user-list-container -->


